:root{
    --primary-color: #7c3aed;
    --primary-hover: #6d28d9;
    --secundary-color: #a78bfa;
    --text-color: #374151;
    --bg-page: #e5e7eb;
    --bg-card: #ffffff;
    --success-color: #10b981;
    --error-color: #ef4444;
}

body{
    background-color: var(--bg-page);
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    display: flex;
    Padding: 20px;
    min-height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.form-container{
    background-color: var(--bg-card);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    max-width:500px;
}

header{
    text-align: center;
    margin: 30px;
}